/*
Theme Name: cornerstonechildtheme
Description: Child theme for the Cornerstone starter theme
Author: Stephen Mullen
Author URI: http: //www.thewirelessguy.co.uk
Template: cornerstone
Version: 1.0
*/

.alignleft {display: inline; float: left; margin-right: 1.625em;}
.alignright {display: inline; float: right; margin-left: 1.625em;}
.aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}

.widget_nav_menu ul,.widget_recent_entries ul{list-style:none}

#content,.sidebar{margin-top: 1em;}

.entry-content ul,.widget_archive ul{
	margin-left:2em;
}

.screen-reader-text{
	left:-1000em;
	position: absolute;
}

/* Pagination */
.pagination li {
   display: inline-block; /* make page numbers visible on mobile devices */
}

/* Orbit Slider */
.orbit-container {
	background: transparent;
	height: auto !important; /* Change container height based on height of image */
}

/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}

/* We also use Modernizr to add a .touch class to the body when applicable */
/* You can prepend this class to anything and it will style only for touch devices */
.touch .your-element {}